head
    link(rel='stylesheet' href='/css/footer.css')

#footer.footer(style="text-align:center; color:white")
    .container
        p.text Ikuti kami di media sosial
        a.link-on-footer.ig(href='https://instagram.com/tsumatrah_' target='_blank')
            svg(width='28' height='28' alt='Instagram' aria-label='Instagram' role='img' xmlns='http://www.w3.org/2000/svg')
                path(fill='#FFF' d='M16 .208H4A3.792 3.792 0 00.208 4v12A3.792 3.792 0 004 19.792h12A3.792 3.792 0 0019.792 16V4A3.792 3.792 0 0016 .208zm0 1.084a2.708 2.708 0 012.704 2.554l.004.154v12a2.708 2.708 0 01-2.554 2.704l-.154.004H4a2.708 2.708 0 01-2.704-2.554L1.292 16V4a2.708 2.708 0 012.554-2.704L4 1.292h12zm-6 4.166a4.542 4.542 0 100 9.084 4.542 4.542 0 000-9.084zm0 1.084a3.458 3.458 0 110 6.916 3.458 3.458 0 010-6.916zm5.5-3.334a1.292 1.292 0 100 2.584 1.292 1.292 0 000-2.584z' style='transform: scale(1.4);')
        a.link-on-footer.fb(href='https://www.facebook.com/Tsumatrah-Honey-112253271224691')
            svg(xmlns='http://www.w3.org/2000/svg' alt='Facebook' aria-label='Facebook' role='img' width='28' height='28')
                path(fill='#FFF' d='M16 .208H4A3.792 3.792 0 00.208 4v12A3.792 3.792 0 004 19.792h12A3.792 3.792 0 0019.792 16V4A3.792 3.792 0 0016 .208zM4 1.292h12a2.708 2.708 0 012.704 2.554l.004.154v12a2.708 2.708 0 01-2.554 2.704l-.154.004h-4.673l.001-7.802h2.653l.068-1.454h-2.72v-2.45c0-1.054.385-1.653 1.464-1.703l.151-.003h.418l.655.004.033-1.333a15.725 15.725 0 00-1.212-.047c-1.958 0-3.002 1.064-3.07 2.601l-.003.16v2.77h-1.86v1.455h1.86v7.802H4a2.708 2.708 0 01-2.704-2.554L1.292 16V4a2.708 2.708 0 012.554-2.704L4 1.292h12H4z' style='transform: scale(1.4);')
        p.text(style='text-align: center; margin-top: 2rem; font-size: 0.7rem;') Syarat &amp; Ketentuan

script(src='/js/indexScript.js')
