include includes/header.pug

#butter
    .container-content.addTop.addBottom
        h1.title Tentang Tsumatrah Honey
        br
        .container-content
            .content-text
                p Tsumatrah merupakan sebuah industri yang bergerak di bidang pemanfaatan hasil peternakan madu dengan fokus wilayah pulau Sumatera 
                p Tsumatrah berpusat di Agam, Provinsi Sumatera Barat, Indonesia
                p Saat ini, tsumatrah sudah memiliki izin usaha dan produk halal 
            br
            h1.h3.underline Visi dan misi Tsumatrah
            .content-text
                p Memajukan komoditas lokal sumatera untuk dapat bersaing di pasar nasional dan multinasional dibawah naungan merek Tsumatrah
                p Menciptakan lapangan kerja yang lebih luas
                p Meningkatkan perekonomian masyarakat lokal
                p Aktif dalam pengabdian kepada masyarakat
    include includes/footer.pug