include includes/header.pug

#butter
    .container-content.addTop.addBottom
        h1.title Beli 
        br
        .content-text
            h1.h3 Cuma Rp 55000,- 
            h1.h4 per Botol (250gr)
            h1.h6 (Dapatkan penawaran menarik untuk pemesanan 5 botol atau lebih)
        br
        a.btn(href="https://shopee.co.id/tsumatrah" target='_blank')
            .card.text-center(style="width: 36rem; max-width: 90vw;")
                img.card-img-top(src="https://i.ibb.co/3pG37v4/logo-shopee.png" alt="logo")
                .card-body 
                    h1.h3.card-title Shopee
                    p Beli
        br
        a.btn(href="https://tokopedia.link/tsumatrah" target='_blank')
            .card.text-center(style="width: 36rem; max-width: 90vw;")
                img.card-img-top(src="https://i.ibb.co/whsXsMX/logo-tokped.png" alt="logo")
                .card-body 
                    h1.h3.card-title Tokopedia
                    p Beli
        br
        a.btn(href="https://wa.me/6281267380897?text=Halo%20admin.%20Saya%20tertarik%20dengan%20madu%20tsumatrah,%20apakah%20tersedia?" target='_blank')
            .card.text-center(style="width: 36rem; max-width: 90vw;")
                img.card-img-top(src="https://i.ibb.co/YTs6mSZ/logo-whatsapp.png" alt="logo")
                .card-body 
                    h1.h3.card-title Whatsapp
                    p Hubungi
    include includes/footer.pug