include includes/header.pug

#butter
    .container-content.addTop.addBottom
        h1.title Narahubung 
        br
        h1.h4.underline Email
        a.nav-link(href='#' target='_blank') tsumatrah@gmail.com
        br
        h1.h4.underline Telp / Whatsapp
        a.nav-link(href='https://wa.me/6281267380897' target='_blank') +62 812 6738 0897
        br
        h1.h4.underline Instagram
        a.nav-link(href='https://instagram.com/tsumatrah_' target='_blank') @tsumatrah_
        br
        h1.h4.underline Facebook
        a.nav-link(href='https://www.facebook.com/Tsumatrah-Honey-112253271224691' target='_blank') tsumatrah
        br

    include includes/footer.pug
