include includes/header.pug

#butter
    section
        .title(style="position:relative; top:30%; text-align:center;")= message
            .title(style="position:relative;")= message2
    
        .fixbottom
            include includes/footer.pug