include includes/header.pug

#butter
    .container-content.addTop.addBottom
        h1.title Mitra Tsumatrah

        br
        
        h1.h3.underline Kota Bukittinggi
        br
        h1.h5 Apotek Fort De Kock
        p Komplek Banto Trade Centre, Jl Soekarno Hatta, Guguak Panjang
        h1.h5 Apotek Britania
        p Jl Perintis Kemerdekaan, Guguak Panjang
        h1.h5 Apotek Tropic Aur
        p Jl Diponegoro, Aur Kuning, Tarok Dipo, Guguak Panjang
        h1.h5 Apotek New Dianda 
        p Jl Diponegoro, Aur Kuning, Tarok Dipo, Guguak Panjang
        h1.h5 Apotek Muhammadiyah
        p Jl Minangkabau, Pasar Atas, Guguak Panjang
        h1.h5 Apotek Sari Anda
        p Jl Dr.A.Rifai no.34, Puhun Tembok, Mandiangin Koto Selayan
        h1.h5 Apotek Srikandi
        p Jl Ahmad Yani No.57, Benteng Ps.Atas, Guguk Panjang
        h1.h5 Apotek Multazam
        p Jl Raya Bukittinggi-Padang Panjang No.5, Aur Birugo Tigo Baleh
        h1.h5 Apotek Medina
        p Jl Batang Masang no.2, Belakang Balok, Aur Birugo Tigo Baleh
        h1.h5 Apotek Yani Baru
        p Jl A.Yani no.87, Benteng Pasar Atas, Guguk Panjang
        h1.h5 Apotek Zam-Zam
        p Jl Dr.A.Rifai no.23, Kayu Kubu, Guguk Panjang
        h1.h5 Apotek Rabbani
        p Jl Perintis Kemerdekaan no.30, Aur Tajungkang Tengah Sawah, Guguk Panjang
        h1.h5 Apotek Rahmat
        p Jl Veteran no.170, Puhun Tembok, Mandiangin Koto Selayan
        h1.h5 Apotek Etika 
        p Jl Veteran no.6, Puhun Tembok, Mandiangin Koto Selayan
        h1.h5 Apotek Charisma 
        p Jl Veteran no.1, Puhun Tembok, Mandiangin Koto Selayan
        h1.h5 Apotek Ar-Raudhah
        p Jl Veteran no.52C, Puhun Tembok, Mandiangin Koto Selayan
        h1.h5 Apotek Rumina 
        p Jl St.Syahrir no.54E, Guguk Panjang
        h1.h5 Apotek Andera 
        p Jl St.Syahrir no.6, Guguk Panjang

        br

        h1.h3.underline Kabupaten Agam
        br
        h1.h5 Apotek Annisa
        p Jl Pasar Raya Antokan No.18, Lubuk Basung 
        h1.h5 Apotek Assalam 
        p Jl Dr.Moh.Hatta, Simpang Tiga, Lubuk Basung
        h1.h5 Apotek Hasanah
        p Simpang Gudang, Manggopoh, Lubuk Basung
        h1.h5 Apotek Wali Farma
        p Jl Lintas Tiku-Lubuk Basung No.75, Pasar Tiku, Tj. Mutiara 
        h1.h5 Toko Pyramid Kurma & Herbal 
        p Jl Soekarno-Hatta, Depan Pasar Impress, Lubuk Basung
        h1.h5 Apotek Zita Farma
        p Jl Soekarno-Hatta, Depan Pasar Impress, Lubuk Basung
        h1.h5 Apotek Berkah 
        p Jl Surau Kariang, Lubuk Basung
        h1.h5 Apotek Bhakti Farma  
        p Jl Caniago, Lubuk Basung
        h1.h5 Apotek Aris Farma 
        p Jl Raya Bukittinggi-Medan KM.5, Gadut, Tilatang Kamang

        br

        h1.h3.underline Kota Pariaman 
        br
        h1.h5 Apotek Mutiara 
        p Jl M.Yamin no.10, Lohong

    include includes/footer.pug